{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="panel panel-primary" id="api-relation-div">
        <div class="panel-heading">
            <h3 class="panel-title">变更报表</h3>
        </div>
        <div style="display: inline">
            <button type="button" class="btn btn-primary" style="float: left;margin-left: 15px;margin-top: 30px;margin-bottom: 20px" data-toggle="modal" href="">新增</button>
            <form method="get">
                {% csrf_token %}
                <span style="float: left;width:4%;margin-top: 20px;margin-left: 50px;">引用方:</span>
                <input name="re-component_name" type="text" id="re-component-id" style="float: left;width:20%;margin-top: 15px" class="form-control" placeholder="请输入引用方项目名"/>
                <button type="submit" class="btn btn-primary" style="float: left;margin-left: 15px;margin-top: 15px">查询</button>
            </form>
        <div class="panel-body" id="relation_table_div">
            <table class="table" id="table-relation-list">
                <thead>
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 25%">引用方</th>
                        <th style="width: 20%">负责人</th>
                        <th style="width: 15%">引用服务数</th>
                        <th style="width: 15%">引用接口数</th>
                        <th style="width: 20%">操作</th>
                    </tr>
                </thead>
                <tbody id="table_body_re">
                    <tr>
                        <td style="  width: 5%" >123</td>
                        <td style="  width: 25%" >123</td>
                        <td style="  width: 20%" >123</td>
                        <td style="  width: 15%" >123</td>
                        <td style="  width: 15%" >123</td>
                        <td style="width: 20%">
                            <a class="btn btn-primary" data-toggle="modal">查看</a>
                            <a class="btn btn-primary" data-toggle="modal">修改</a>
                            <a class="btn btn-primary" data-toggle="modal">添加引用</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "apijs/api_library.js" %}"></script>
{% endblock %}
