{% block title %}
    记录
{% endblock %}


{% block content %}

    <div class="form-group col-md-12 alert bg-primary">
        <div class="form-group">
            <label class="control-label" style="float: left">模块：</label>
            <label class="control-label" style="float: left; color: red">*</label>
            <div class="col-md-2">
                <select class="form-control" id="product" onchange="select_product(this.options[this.options.selectedIndex].value)">
                    <option value="">请选择</option>
                    {% for product in product_list %}
                    <option value="{{ product.id}}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="control-label" style="float: left">版本：</label>
            <div class="col-md-2">
                <select class="form-control" id="version" style="float: left;">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="control-label" style="float: left">主机：</label>
            <div class="col-md-2">
                <select class="form-control" id="host" style="float: left">
                    <option value="">请选择</option>
                    {% for host in host_list %}
                    <option value="{{ host}}">{{ host }}</option>
                    {% endfor %}
                </select>
            </div>
{#            <label class="control-label" style="float: left;">数据类型：</label>#}
{#            <label class="control-label" style="float: left; color: red">*</label>#}
{#            <div class="col-md-2">#}
{#                <select class="form-control" id="data_type">#}
{#                    <option value="">请选择</option>#}
{#                    {% for data_type in data_type_list %}#}
{#                    <option value="{{ data_type.type}}">{{ data_type.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
            <label class="control-label" style="float: left;">时间段：</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="datetimepicker_start" style="float: left;background-color:#ffffff;" onclick="select_datetime_start()" onchange="check_start()">
            </div>
            <label class="control-label" style="float: left;">~</label>
            <div class="col-md-2">
                <input class="form-control" type="text" id="datetimepicker_end" style="float: left;background-color:#ffffff;" onclick="select_datetime_end()" onchange="check_end()">
            </div>
            <div class="col-md-2">
                <button type="button" style="float: left;" onclick="inquiry_record()">查询</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="col-md-12 column span12"></div>
            <div class="col-md-2 column">
                <p style="height:30px;line-height: 30px;margin-left:13px;margin-bottom:5px;font-size: 17px;color: #000000;display:inline;padding-bottom:6px;">流程列表：</p>
            </div>
            <div class="col-md-12 column table-responsive" id="recordTableDiv">
			    <table class="table table-bordered table-striped" id="recordTable">
				    <thead>
					    <tr>
	    					<th style="width: 5%">编号</th>
		    				<th style="width: 20%">模块</th>
			    			<th style="width: 20%">版本</th>
                            <th style="width: 20%">主机</th>
				    		<th style="width: 10%">关联接口ID</th>
                            <th style="width: 15%">创建时间</th>
                            <th style="width: 10%">查看详情</th>
			    		</tr>
				    </thead>
				    <tbody id="table_body">
				    </tbody>
			    </table>
		    </div>
            <div class="col-md-12" style="display: none;">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-check"></span>运行结果</div>
                    <div class="panel-body" id="report">
                        <h4>暂无结果</h4>
                         <!--<table class="table table-bordered table-striped" id="resultTable">
                                 <tbody id="runResult">
                                 {{ res_run }}
                                 </tbody>
                                 </table>-->
                    </div>
            </div>
        </div>

        </div>
    </div>

    <!-- 查看原始数据弹出窗 -->
    <div class="modal" id="modal-container-raw-data" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        原始数据
                        <em class="glyphicon glyphicon-question-sign" style="cursor: pointer;" data-toggle="popover" data-placement="bottom"
                            data-content='1.功能说明<br>
                            （1）保存流程最初录制的数据，用于在待测接口被多次更新后恢复到最初状态的参考<br>
                            （2）组成部分<br>
                            A、原始请求类型、请求url<br>
                            B、原始Headers<br>
                            C、原始body<br>
                            D、原始Response<br>'>
                        </em>
                    </h4>
                </div>
                <div class="modal-body" id="ori_api_detail">
                    <pre style="border: 0;background-color:transparent;" id="urlText_ori"></pre>
                    <!--Header-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <label>Headers</label>
                            </h3>
                        </div>
                        <div class="panel-body">
                                <div>
                                    <pre style="border: 0;background-color:transparent;" id="header_ori_text"></pre>
                                </div>
                        </div>
                    </div>
                    <!--body-->
                    <div id="api-body-ori" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <label>Body</label>
                            </h3>
                        </div>
                        <div class="panel-body" >
                            <div>
                                <pre style="border: 0;background-color:transparent;" id="body_ori_text"></pre>
                            </div>
                        </div>
                    </div>
                    <!-- response -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <label>Response</label>
                            </h3>
                        </div>
                        <div class="panel-body tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#body_ori" data-toggle="tab">Body</a></li>
                                <li><a href="#cookies_ori" data-toggle="tab">Cookies</a></li>
                                <li><a href="#headers_ori" data-toggle="tab">Headers</a></li>
                                <li><a href="#resTests_ori" data-toggle="tab">Tests</a></li>
                                <div style="float: right;margin-top:2% ">
                                    <label>Status:</label>&nbsp;&nbsp;<span id="status_ori" style="color:#448CBB"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>Time:</label>&nbsp;&nbsp;<span id="res_time_ori" style="color:#448CBB"> ms</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="body_ori" style="height: 400px;overflow:auto;">
                                    <pre style="word-wrap:break-word;word-break:break-all;border: 0;background-color:transparent;"></pre>
                                </div>
                                <div class="tab-pane fade" id="cookies_ori" style="height: 400px;overflow:auto;">
                                    <p style="word-wrap:break-word;word-break:break-all;"></p>
                                </div>
                                <div class="tab-pane fade" id="headers_ori" style="height: 400px;overflow:auto;">
                                        <p> → </p></br>
                                </div>
                                <div class="tab-pane fade" id="resTests_ori" style="height: 400px;overflow:auto;">
                                    <p style="word-wrap:break-word;word-break:break-all;"></p>
                                </div>
                            </div>
                        </div><!--/.panel-->
                    </div><!--/.col-->
                </div>
                <div id="delete_modal_footer" class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="../../static/nowjs/record.js"></script>
{#    <script type="text/javascript" src="../../static/nowjs/test.js"></script>#}
     <script type="text/javascript">

        $("#datetimepicker_start").one('click',select_datetime_start());
        $("#datetimepicker_end").one('click',select_datetime_end());

    </script>
{% endblock %}
